#root {
  height: 100vh;
}
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
}
@media (max-width: 630px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: unset;
  }
}
